# Wake the Logitech C920 mic every time it is plugged in (and at boot). See README.md.
ACTION=="add", SUBSYSTEM=="usb", ENV{DEVTYPE}=="usb_device", ATTR{idVendor}=="046d", ATTR{idProduct}=="082d", RUN+="/usr/bin/systemd-run --no-block --unit=c920-mic-wake-%k /usr/local/bin/c920-mic-wake %k $devnode"
